#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  box-sizing: border-box;
  padding: auto;
}

.title-bar{
  background: linear-gradient(to right, #7e23d1 0%, #5046e5 100%);
  padding:1rem 2rem;
  text-align: left;
  color: white;
}

.movie-survey-container{
  width: 500px;
  background-color: white;
  padding-bottom: 1px;
  box-shadow: 0px 5px 5px 5px rgb(235, 234, 234);
}

.input-container{
  display: flex;
  flex-direction: column;
  text-align: left;
  padding:1rem 2rem;
}

.input-bar{
  width: stretch;
  height: 40px;
  border: 1px solid rgb(163, 163, 163);
  border-radius: 5px;
  margin: 10px 0px 0px 0px;
  padding-left: 10px;
}
.input-bar :hover{
  border: 1px solid black;
}

.description-area{
  width: stretch;
  border: 1px solid rgb(163, 163, 163);
  padding: 10px;
  border-radius: 5px;
}

.description-area :hover{
  border: 1px solid black;
}

.error-message,
.red-mark{
  color: red;
}

.movie-list{
display: flex;
flex-direction: column;
margin-top: 12px;
}

.movie-item{
  display: flex;
  justify-content: start;
  gap: 20px;
  
}
.movie-item-detail p{
  padding: 0;
  margin: 12px;
}

.movie-director{
  color: gray;
}


.error-stage{
  border: 1px solid red;
  border-radius: 5px;
}

.button-section{
  
  display: flex;
  justify-content: space-between;
  padding: 16px 24px 24px ;
  margin: 10px;
}

.reset-button{
  background: white;
  font-size: 14px;
  border: 1px solid rgb(230, 229, 229);
  border-radius: 4px;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:10px
}

.send-button{
  background: linear-gradient(to right, #7e23d1 0%, #5046e5 100%);
  color: white;
  font-size: 14px;
  border: 1px solid rgb(230, 229, 229);
  border-radius: 4px;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:10px
}

h2{
  display: flex;
  align-items: center;
  gap: 10px
}

h2.success-message{
  color: #166534;
  font-weight: 500;
}

.success-box{
padding: 16px;
background: #f0fdf4;
border: 2px solid #cfebdc;
border-radius: 5px;
padding:1rem 2rem;
margin: 24px;
display: flex;
flex-direction: column;
justify-content: start;
align-items: start;
}

.result-grid {
  display: grid;
  grid-template-columns: 120px 1fr;
  row-gap: 12px;
  column-gap: 16px;
  align-items: start;
}

.label {
  color: #7c7d80;
  text-align: left;
}

.value {
  color: #111827;
  text-align: left;
}
.movie-value {
  color: #7e23d1;
  text-align: left;
}

.redo-form-button{
  background: black;
  color: white;
  font-size: 14px;
  border: 1px solid rgb(230, 229, 229);
  border-radius: 5px;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:10px;
  margin: 10px auto 10px auto;
  width: 96%;
}
.redo-form-button :hover{
  opacity: 70%;
  pointer-events: visible;
}